
/* reusable design */

*{
  margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: "Fira Sans", sans-serif;
    background-color: rgb(245, 245, 245);
}


img{
  max-width: 100%;
  height: auto;
}


.uni_container{
  max-width: 1280px;
  margin: 0 auto;
}

button{
  cursor: pointer;
  max-width: max-content;
}

/* specific design */
.nav_menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.nav_menu h2{
 font-size: 32px;
 font-weight: bold;
  color: #0E0E0E;

}

.nav_menu .sign_btn{
  padding: 12px 30px;
  border:  1px solid #006A50;
  color: #006A50;
font-size: 18px;
font-weight: 300;
border-radius: 8px;

}

 .pri{
  color: red;
}


 .mary{
  color: #006A50;
}


#hero_area{
background-image:linear-gradient(180deg,rgba(255, 0, 0, 0.603),rgba(0, 0, 255, 0.171)),url(/assets/bangladesh_victory.png);
background-position: center;
background-size: cover;
  border-radius: 24px;
  padding: 80px 59px;
  display: flex;
  gap: 24px;
  align-items: center;
 

}



.hero_info h6{
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff8e;
}

.hero_info h1{
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 24px;
  color:#ddd;
}


.hero_info button{
  max-width:max-content;
  padding: 17px 34px;
  color: #FFFFFF;
  background-color:#006A50;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  transition: 0.3s linear;

}

.hero_info button:hover{
  box-shadow: 0 0 10px #006A50;
}

.pillar_bangladesh_main_container{
  margin: 80px auto;
}

.pillar_bangladesh_main_container h2{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 32px;
}


.pillars_cards_container{
   display: flex;
justify-content: space-between;

}


.pillars_cards_container .pillar_card{
display: flex;
flex-direction: column;
gap: 24px;
border-radius: 16px;
background-color:#FFFFFF;
padding:24px ;
box-shadow: 0 0 15px #ddd;
flex-basis: 23%;
}


.my_img{
 width: 64px;
 height: 64px; 
}

.pillar_card h5{
  font-size: 20px;
  font-weight: bold;
  color: #0E0E0E;
}


.pillar_card p{
  line-height: 24px;
  color:  #0e0e0e7c;
}


.vision_feature_intro h2{
  font-weight: bold;
  font-size: 40px;
  color:#0E0E0E;  
  margin-bottom: 24px;
}




.vision_feature_intro p,.vision_card p{
line-height: 24px;
color: #0e0e0e7c;
}

.visions_cards_main{
  margin: 32px 0;
  display: flex;
justify-content: space-between;
align-items: center;
}


.vision_card{

  display: flex;
  flex-direction: column;
  gap:24px ;
  flex-basis: 31%;
  border: none;
  border-radius: 16px;
  padding: 32px;
}

.vision_card h6{
  font-size: 20px;
  font-weight: bold;
  color: #0E0E0E;
}

.vision_card button{
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: 500;
  padding: 11px 20px;
  border: none;
}





.blue{
  background-color: rgb(84, 144, 245,20%);
}
.blue button{
  background-color:rgb(84, 144, 245);

  
}

.green{
  background-color: #C6E4D6;
}
.green button{
background-color: #09A15C;
}


.yellow{
  background-color: #F7EBCF;
}
.yellow button{background-color: #FFC239;}



.quote_area{
  padding: 48px 24px;
  border-radius: 16px;
  box-shadow:0 0 15px #ddd ;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.quote_area img{
  position: absolute;
top: 24px;
  z-index: 0;
}


#opinion_matters {
  margin: 80px auto;
}

#opinion_matters h3{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 24px;
}


.opinion_table_main{
  box-shadow: 0 0 15px #ddd;
  border-radius: 16px;
  padding: 32px;
}


.ans_question {
  background-color: #C6E4D6;
  padding: 24px;
display: flex;
justify-content: space-between;
align-items: center;
}

.ans_question h6{
  font-size: 24px;
  font-weight: 500;
  color: #0E0E0E;
}

.question_table{
  width: 100%;
  border-collapse: collapse;
}

.question_table td{
  padding: 24px;
  border: 2px solid #ddd;
  
}

.question_table td p{
  font-size: 16px;
  font-weight: 500;
  color: #0E0E0E;
}

.question_table td select {
  width: 100%;
  padding: 12px 16px;
  background-color: #C6E4D6;
  cursor: pointer;
  border-radius: 4px;
font-size: 17px;
font-weight: 400;
}





/* recent news design */

.recent_new_info h4{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
  color: #0E0E0E;
}



.recent_new_info p{
  color: 24px;
  margin-bottom: 32px;
}

.recent_news_cards{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recent_card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  box-shadow: 0 0 15px #ddd;
  border-radius: 24px;
  padding: 24px;
}

.recent_card:nth-child(2){
  flex-direction: row-reverse;
}

.recent_card .satelite_info{
  display: flex;
  flex-direction: column;
  gap: 12px; ;
}

.recent_card .satelite_img{
  border-radius: 24px;
}


.recent_card .satelite_info h5{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
}

.recent_card .satelite_info img{
  width: 134px;
  height: 40px;
}

.recent_card .satelite_info p{
  color: #0e0e0e7c;
  line-height: 24px;
}


.recent_card .dates{
  display: flex;
  gap: 12px;
}

.recent_card .dates span{
  color: #0e0e0e7c;
}


.recent_card button{
  max-width: max-content;
  background-color:#006A50 ;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  border: none;
  padding: 13px 26px;
}


.donate_section{
  margin: 80px auto;
}

.donate_section .donate_info{
  padding: 0 88px;
  text-align: center;
}


.donate_info h2{
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 24px;
}

.donate_info p{
  color: #0e0e0e7c;
  line-height: 24px;

}


.donate_section .donate_options{
  display: flex;
  margin:32px 0 ;
  gap: 24px;
  justify-content: center;
  align-items: center;
}


.donate_options .donate{

  padding: 40px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 16px;
  cursor: pointer;

}


.donate_options .donate h6{
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
}

.donate_options .donate:hover{
  background-color: #C6E4D6;
}

.donate_input {
  padding: 32px 128px;
}
.donate_input input{
  text-align: center;
  width: 100%;
  padding: 20px;
box-shadow: 0 0 10px #ddd;
border: none;
text-transform: capitalize;
}


.donate_btn_area{
  text-align: center;
}

.donate_btn_area button{
  background-color: #006A50;
  border-radius: 8px;
  font-size: 18px;
  color: #FFFFFF;
  padding: 17px 34px;
  border: none;
}

/* footer area design */

.subscribe_area{
  margin: 80px auto;
  border-radius: 24px;
  background-color: #C6E4D6;
  padding: 80px 100px;
}

.subscribe_area .main_content{
  max-width: 750px;
  margin: 0 auto;
}

.subscribe_info{
  text-align: center;
}

.subscribe_info h4{
  margin-bottom: 16px;
  color: #0E0E0E;
  font-size: 40px;
  font-weight: bold;
}

.subscribe_info p{
  color: #0e0e0e7c;
  line-height: 24px;
  margin: bottom 24px; 
 font-weight: 500;
 
}

.subscribe{
  display: flex;
margin: 24px 0;
}


.subscribe input{
  width: 100%;
  border: none;
  padding: 18px 40px;
  border-radius: 8px 0 0 8px;
  color: #0e0e0e7c;
}

.subscribe button{
  max-width: max-content;
  border-radius: 0 8px 8px 0;
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #006A50;
  border: none;
  padding: 17px 32px;
}

.promise{
  text-align: center;
  color: #0e0e0e7c;
}


.footer_area{
  padding: 50px 160px;
  background-color: white;
}


.footer_area h6{
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
}

.footer_area hr{
  margin: 24px 0;
}

.footer_main{
  text-align: center;
}

.icons{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}


.icons img {
  width: 30px;
cursor: pointer;

}


.creator{
  margin: 18px 0;
}

.creator h6{
  font-size: 18px;
  font-weight: normal;
  color: #0e0e0e7c;
}